@import 'styles/@global.scss';

.layout-component-mobile-menubar {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  left: 0;
  bottom: 0;

  width: 100%;
  padding: 0.5rem 0rem;
  padding-bottom: calc(env(safe-area-inset-bottom) + 1rem);

  background-color: $THEME_COLOR_THEME_BACKGROUND_BLUR;
  backdrop-filter: blur(1rem);
  box-shadow: 0 0 1rem 1rem $GLOBAL_COLOR_BLACK_50;
  border-radius: 2rem 2rem 0 0;
  z-index: 5;

  .floating-button {
    position: fixed;
    bottom: 8rem;
    right: 1.5rem;
    font-size: 1.35rem;
    color: $THEME_COLOR_STATUS_PRIMARY_500;
    background-color: $THEME_COLOR_THEME_BACKGROUND_BLUR;
    backdrop-filter: blur(0.25rem);
    box-shadow: 0 0.15rem 0.5rem 0.25rem $GLOBAL_COLOR_BLACK_100;
  }

  .menu {
    cursor: pointer;
    position: relative;
    gap: 0.85rem;
    color: $THEME_COLOR_THEME_TEXT_400;
    font-size: 1.45rem;
    user-select: none;
    padding: 1.75rem;
    transition: all 0.3s ease;

    &::before {
      content: '';

      position: absolute;
      display: block;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      background: linear-gradient(
        to bottom,
        $THEME_COLOR_STATUS_PRIMARY_500,
        $THEME_COLOR_STATUS_PRIMARY_400
      );
      z-index: 0;

      transition: all 0.3s ease;
      opacity: 0;
      transform: scale(1.5);
    }
  }

  .menu.focused {
    position: relative;
    color: $THEME_COLOR_STATUS_INNER_PRIMARY_500;

    &::before {
      opacity: 1;
      transform: scale(1);
    }

    & > * {
      z-index: 1;
    }
  }
}
