@import 'styles/@global.scss';

.template-container {
  @include mobile {
    gap: 4%;
  }

  @include tablet {
    gap: 4%;
  }

  display: flex;
  flex-flow: wrap;
  gap: 2%;
  padding-bottom: 2rem;

  .card {
    margin-bottom: 2rem;
  }
}

.pagination {
  padding: 2rem 0 5rem;
}
