@import 'styles/@variables.scss';

.component-tag-label {
  color: $THEME_COLOR_STATUS_SUCCESS_400;
  border: 1px solid $THEME_COLOR_STATUS_SUCCESS_400;
  width: fit-content;
  border-radius: $GLOBAL_BORDERRADIUS_LARGE;
  gap: 0.35rem;

  font-size: 0.75rem;
  padding: 0.25rem 0.4rem;
}
