@import 'styles/@global.scss';

.component-page-header {
  width: 100%;
  padding: 2.5rem 0;

  .article-info {
    color: $THEME_COLOR_THEME_TEXT_600;

    & > .text:not(:last-child)::after {
      content: '|';
      margin-left: 1rem;
      color: $THEME_COLOR_THEME_TEXT_50;
    }

    .text > b {
      color: $THEME_COLOR_THEME_TEXT_400;
    }
  }

  .buttons {
    .editable-text {
      cursor: pointer;

      display: flex;
      color: $THEME_COLOR_THEME_TEXT_150;
      gap: 0.5rem;
    }

    .editable-text:hover {
      filter: brightness(0.8);
    }
  }
}
