@import 'styles/@global.scss';

.component-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 25vh 0 20vh;
  overflow-y: scroll;
  top: 0;
  left: 0;

  background-color: $GLOBAL_COLOR_BLACK_700;
  backdrop-filter: blur(0.2rem);
  z-index: 10;

  @include mobile {
    display: flex;
    align-items: flex-end;
    padding: 1rem;
  }
}

.container {
  position: relative;
  width: 32.5rem;
  min-height: 10rem;
  margin: 0 auto;
  padding: 2rem;
  overflow-x: hidden;

  background-color: $THEME_COLOR_THEME_BACKGROUND_100;
  box-shadow: 0 0 10rem 0.5rem $GLOBAL_COLOR_BLACK_500;
  border-radius: $GLOBAL_BORDERRADIUS_XLARGE;

  @include mobile {
    width: 100%;
  }
}
