@import 'styles/@global.scss';

.component-page-trending {
  @include mobile {
    margin-bottom: 2rem;
  }

  padding: 2rem 0 5rem;

  .card {
    position: relative;
    width: 16rem;
    border-radius: $GLOBAL_BORDERRADIUS_XLARGE;
    margin-right: 2rem;
  }

  .profile-card {
    position: relative;
    width: 16rem;
    background-position: center;
    background-size: cover;
    border-radius: $GLOBAL_BORDERRADIUS_XLARGE;
    margin-right: 2rem;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(5rem) brightness(0.75);
      border-radius: $GLOBAL_BORDERRADIUS_XLARGE;
    }

    .title {
      color: $GLOBAL_COLOR_WHITE_800;
      z-index: 1;
    }

    .profile {
      z-index: 1;

      .image {
        width: 8rem;
        height: 8rem;
      }

      .name {
        color: $GLOBAL_COLOR_WHITE_900;
        overflow: visible;
      }

      .description {
        color: $GLOBAL_COLOR_WHITE_800;
        overflow: visible;
      }
    }
  }

  .list-text-card {
    width: 12rem;

    .icon {
      width: 2.5rem;
      height: 2.5rem;
      padding: 2rem;
      background-color: $THEME_COLOR_THEME_BACKGROUND_200;
      color: $THEME_COLOR_STATUS_SUCCESS_500;
      border-radius: 50%;

      margin-bottom: 2rem;
    }

    .description {
      color: $THEME_COLOR_THEME_TEXT_150;
    }
  }
}
