$GLOBAL_COLOR_PURPLE_500: #683FE9;
$GLOBAL_COLOR_WHITE_20: rgba(255,255,255,0.02);
$GLOBAL_COLOR_WHITE_50: rgba(255,255,255,0.05);
$GLOBAL_COLOR_WHITE_100: rgba(255,255,255,0.1);
$GLOBAL_COLOR_WHITE_200: rgba(255,255,255,0.2);
$GLOBAL_COLOR_WHITE_300: rgba(255,255,255,0.3);
$GLOBAL_COLOR_WHITE_400: rgba(255,255,255,0.4);
$GLOBAL_COLOR_WHITE_600: rgba(255,255,255,0.6);
$GLOBAL_COLOR_WHITE_800: rgba(255,255,255,0.8);
$GLOBAL_COLOR_WHITE_900: #fff;
$GLOBAL_COLOR_BLACK_20: rgba(0,0,0,0.02);
$GLOBAL_COLOR_BLACK_50: rgba(0,0,0,0.05);
$GLOBAL_COLOR_BLACK_100: rgba(0,0,0,0.1);
$GLOBAL_COLOR_BLACK_200: rgba(0,0,0,0.2);
$GLOBAL_COLOR_BLACK_300: rgba(0,0,0,.3);
$GLOBAL_COLOR_BLACK_400: rgba(0,0,0,0.4);
$GLOBAL_COLOR_BLACK_600: rgba(0,0,0,0.6);
$GLOBAL_COLOR_BLACK_700: rgba(0,0,0,0.7);
$GLOBAL_COLOR_BLACK_800: rgba(0,0,0,0.8);
$GLOBAL_COLOR_BLACK_900: #000;
$GLOBAL_COLOR_GRAY_100: #151515;
$GLOBAL_COLOR_GRAY_150: #222;
$GLOBAL_COLOR_GRAY_300: #555;
$GLOBAL_COLOR_GRAY_500: #777;
$GLOBAL_COLOR_GRAY_700: #aaa;
$GLOBAL_COLOR_GRAY_800: #ccc;
$GLOBAL_COLOR_GRAY_900: #f3f3f3;
$GLOBAL_COLOR_GRAY_950: #f5f5f5;
$GLOBAL_COLOR_DEEP-GREEN_25: #F4F6F7;
$GLOBAL_COLOR_DEEP-GREEN_50: #E9EEEF;
$GLOBAL_COLOR_DEEP-GREEN_100: #D5DEDF;
$GLOBAL_COLOR_DEEP-GREEN_200: #ACBDBF;
$GLOBAL_COLOR_DEEP-GREEN_300: #849EA0;
$GLOBAL_COLOR_DEEP-GREEN_400: #617F82;
$GLOBAL_COLOR_DEEP-GREEN_500: #317172;
$GLOBAL_COLOR_DEEP-GREEN_600: #344E50;
$GLOBAL_COLOR_DEEP-GREEN_700: #273A3C;
$GLOBAL_COLOR_DEEP-GREEN_800: #1C2729;
$GLOBAL_COLOR_DEEP-GREEN_900: #111617;
$GLOBAL_COLOR_BLUE_300: #71a4f1;
$GLOBAL_COLOR_BLUE_400: #4185ec;
$GLOBAL_COLOR_BLUE_500: #1267E7;
$GLOBAL_FONTSIZE_12: 0.75rem;
$GLOBAL_FONTSIZE_14: 0.875rem;
$GLOBAL_FONTSIZE_16: 1rem;
$GLOBAL_FONTSIZE_18: 1.125rem;
$GLOBAL_FONTSIZE_20: 1.25rem;
$GLOBAL_FONTSIZE_24: 1.5rem;
$GLOBAL_FONTSIZE_32: 2rem;
$GLOBAL_FONTSIZE_40: 2.5rem;
$GLOBAL_FONTSIZE_48: 3rem;
$GLOBAL_FONTSIZE_BODY: 16px;
$GLOBAL_FONTSIZE_H6: 16px;
$GLOBAL_FONTSIZE_H5: 16px;
$GLOBAL_FONTSIZE_H4: 16px;
$GLOBAL_FONTSIZE_H3: 16px;
$GLOBAL_FONTSIZE_H2: 16px;
$GLOBAL_FONTSIZE_H1: 16px;
$GLOBAL_FONT_DESIGN: Gilbeot;
$GLOBAL_FONT_BODY: NanumBarunGothic;
$GLOBAL_BORDERRADIUS_SMALL: 0.25rem;
$GLOBAL_BORDERRADIUS_MEDIUM: 0.5rem;
$GLOBAL_BORDERRADIUS_LARGE: 1rem;
$GLOBAL_BORDERRADIUS_MAX: 999px;
$GLOBAL_BORDERRADIUS_XLARGE: 2rem;
$GLOBAL_BORDERWIDTH_NONE: 0;
$GLOBAL_BORDERWIDTH_SMALL: 2px;
$GLOBAL_BORDERWIDTH_MEDIUM: 4px;
$GLOBAL_BORDERWIDTH_LARGE: 8px;
$GLOBAL_BORDERWIDTH_MIN: 1px;
$GLOBAL_BORDERWIDTH_MAX: 12px;
$GLOBAL_LETTERSPACING_DEFAULT: 0;
$GLOBAL_LETTERSPACING_DECREASED: -10%;
$GLOBAL_LETTERSPACING_INCREASED: 150%;
$LIGHT_COLOR_STATUS_PRIMARY_100: #D5DEDF;
$LIGHT_COLOR_STATUS_PRIMARY_200: #ACBDBF;
$LIGHT_COLOR_STATUS_PRIMARY_300: #849EA0;
$LIGHT_COLOR_STATUS_PRIMARY_400: #617F82;
$LIGHT_COLOR_STATUS_PRIMARY_500: #317172;
$LIGHT_COLOR_STATUS_PRIMARY_600: #344E50;
$LIGHT_COLOR_STATUS_PRIMARY_700: #273A3C;
$LIGHT_COLOR_STATUS_PRIMARY_800: #1C2729;
$LIGHT_COLOR_STATUS_PRIMARY_900: #111617;
$LIGHT_COLOR_STATUS_INNER_PRIMARY_500: #fff;
$LIGHT_COLOR_THEME_BACKGROUND_100: #fff;
$LIGHT_COLOR_THEME_BACKGROUND_200: #f3f3f3;
$LIGHT_COLOR_THEME_BACKGROUND_BLUR: rgba(255,255,255,0.3);
$LIGHT_COLOR_THEME_TEXT_50: #ccc;
$LIGHT_COLOR_THEME_TEXT_100: #aaa;
$LIGHT_COLOR_THEME_TEXT_400: #777;
$LIGHT_COLOR_THEME_TEXT_600: #555;
$LIGHT_COLOR_THEME_TEXT_800: #222;
$LIGHT_COLOR_THEME_TEXT_900: #000;
$THEME_COLOR_STATUS_PRIMARY_100: var(--THEME-COLOR-STATUS-PRIMARY-100);
$THEME_COLOR_STATUS_PRIMARY_200: var(--THEME-COLOR-STATUS-PRIMARY-200);
$THEME_COLOR_STATUS_PRIMARY_300: var(--THEME-COLOR-STATUS-PRIMARY-300);
$THEME_COLOR_STATUS_PRIMARY_400: var(--THEME-COLOR-STATUS-PRIMARY-400);
$THEME_COLOR_STATUS_PRIMARY_500: var(--THEME-COLOR-STATUS-PRIMARY-500);
$THEME_COLOR_STATUS_PRIMARY_600: var(--THEME-COLOR-STATUS-PRIMARY-600);
$THEME_COLOR_STATUS_PRIMARY_700: var(--THEME-COLOR-STATUS-PRIMARY-700);
$THEME_COLOR_STATUS_PRIMARY_800: var(--THEME-COLOR-STATUS-PRIMARY-800);
$THEME_COLOR_STATUS_PRIMARY_900: var(--THEME-COLOR-STATUS-PRIMARY-900);
$THEME_COLOR_STATUS_INNER_PRIMARY_500: var(--THEME-COLOR-STATUS-INNER-PRIMARY-500);
$THEME_COLOR_THEME_BACKGROUND_100: var(--THEME-COLOR-THEME-BACKGROUND-100);
$THEME_COLOR_THEME_BACKGROUND_200: var(--THEME-COLOR-THEME-BACKGROUND-200);
$THEME_COLOR_THEME_BACKGROUND_BLUR: var(--THEME-COLOR-THEME-BACKGROUND-BLUR);
$THEME_COLOR_THEME_TEXT_50: var(--THEME-COLOR-THEME-TEXT-50);
$THEME_COLOR_THEME_TEXT_100: var(--THEME-COLOR-THEME-TEXT-100);
$THEME_COLOR_THEME_TEXT_400: var(--THEME-COLOR-THEME-TEXT-400);
$THEME_COLOR_THEME_TEXT_600: var(--THEME-COLOR-THEME-TEXT-600);
$THEME_COLOR_THEME_TEXT_800: var(--THEME-COLOR-THEME-TEXT-800);
$THEME_COLOR_THEME_TEXT_900: var(--THEME-COLOR-THEME-TEXT-900);
