$GLOBAL_COLOR_PURPLE_500: #683fe9;
$GLOBAL_COLOR_WHITE_900: #fff;
$GLOBAL_COLOR_BLACK_100: #000;
$GLOBAL_COLOR_BLACK_150: #151515;
$GLOBAL_COLOR_BLACK_500: #555;
$GLOBAL_COLOR_BLACK_700: #777;
$GLOBAL_COLOR_BLACK_900: #f3f3f3;
$GLOBAL_COLOR_DEEP-GREEN_25: #f4f6f7;
$GLOBAL_COLOR_DEEP-GREEN_50: #e9eeef;
$GLOBAL_COLOR_DEEP-GREEN_100: #d5dedf;
$GLOBAL_COLOR_DEEP-GREEN_200: #acbdbf;
$GLOBAL_COLOR_DEEP-GREEN_300: #849ea0;
$GLOBAL_COLOR_DEEP-GREEN_400: #617f82;
$GLOBAL_COLOR_DEEP-GREEN_500: #317172;
$GLOBAL_COLOR_DEEP-GREEN_600: #344e50;
$GLOBAL_COLOR_DEEP-GREEN_700: #273a3c;
$GLOBAL_COLOR_DEEP-GREEN_800: #1c2729;
$GLOBAL_COLOR_DEEP-GREEN_900: #111617;
$LIGHT_COLOR_STATUS_PRIMARY: #317172;
$LIGHT_COLOR_STATUS_INNER_PRIMARY: #fff;
$LIGHT_COLOR_THEME_BACKGROUND: #fff;
$LIGHT_COLOR_THEME_TEXT: #000;
$LIGHT_COLOR_THEME_INPUT: #f3f3f3;
$LIGHT_COLOR_THEME_PLACEHOLDER: #777;
