$GLOBAL_COLOR_WHITE_20: rgba(255,255,255,0.02);
$GLOBAL_COLOR_WHITE_50: rgba(255,255,255,0.05);
$GLOBAL_COLOR_WHITE_100: rgba(255,255,255,0.1);
$GLOBAL_COLOR_WHITE_200: rgba(255,255,255,0.2);
$GLOBAL_COLOR_WHITE_300: rgba(255,255,255,0.3);
$GLOBAL_COLOR_WHITE_400: rgba(255,255,255,0.4);
$GLOBAL_COLOR_WHITE_600: rgba(255,255,255,0.6);
$GLOBAL_COLOR_WHITE_800: rgba(255,255,255,0.8);
$GLOBAL_COLOR_WHITE_900: #fff;
$GLOBAL_COLOR_BLACK_20: rgba(0,0,0,0.02);
$GLOBAL_COLOR_BLACK_50: rgba(0,0,0,0.05);
$GLOBAL_COLOR_BLACK_100: rgba(0,0,0,0.1);
$GLOBAL_COLOR_BLACK_200: rgba(0,0,0,0.2);
$GLOBAL_COLOR_BLACK_300: rgba(0,0,0,.3);
$GLOBAL_COLOR_BLACK_400: rgba(0,0,0,0.4);
$GLOBAL_COLOR_BLACK_600: rgba(0,0,0,0.6);
$GLOBAL_COLOR_BLACK_700: rgba(0,0,0,0.7);
$GLOBAL_COLOR_BLACK_800: rgba(0,0,0,0.8);
$GLOBAL_COLOR_BLACK_900: #000;
$GLOBAL_COLOR_GRAY_100: #151515;
$GLOBAL_COLOR_GRAY_150: #222;
$GLOBAL_COLOR_GRAY_300: #555;
$GLOBAL_COLOR_GRAY_500: #777;
$GLOBAL_COLOR_GRAY_700: #aaa;
$GLOBAL_COLOR_GRAY_800: #ccc;
$GLOBAL_COLOR_GRAY_900: #f3f3f3;
$GLOBAL_COLOR_GRAY_950: #f5f5f5;
$GLOBAL_COLOR_DEEP-GREEN_25: #F4F6F7;
$GLOBAL_COLOR_DEEP-GREEN_50: #E9EEEF;
$GLOBAL_COLOR_DEEP-GREEN_100: #D5DEDF;
$GLOBAL_COLOR_DEEP-GREEN_200: #ACBDBF;
$GLOBAL_COLOR_DEEP-GREEN_300: #849EA0;
$GLOBAL_COLOR_DEEP-GREEN_400: #617F82;
$GLOBAL_COLOR_DEEP-GREEN_500: #317172;
$GLOBAL_COLOR_DEEP-GREEN_600: #344E50;
$GLOBAL_COLOR_DEEP-GREEN_700: #273A3C;
$GLOBAL_COLOR_DEEP-GREEN_800: #1C2729;
$GLOBAL_COLOR_DEEP-GREEN_900: #111617;
$GLOBAL_COLOR_BLUE_100: #D0DAF7;
$GLOBAL_COLOR_BLUE_200: #A2B6F0;
$GLOBAL_COLOR_BLUE_300: #7894EA;
$GLOBAL_COLOR_BLUE_400: #5372E4;
$GLOBAL_COLOR_BLUE_500: #3752DE;
$GLOBAL_COLOR_BLUE_600: #2B41AC;
$GLOBAL_COLOR_BLUE_700: #21317D;
$GLOBAL_COLOR_BLUE_800: #172150;
$GLOBAL_COLOR_BLUE_900: #0E1328;
$GLOBAL_COLOR_ORANGE_100: #F8E7C7;
$GLOBAL_COLOR_ORANGE_200: #F2D193;
$GLOBAL_COLOR_ORANGE_300: #ECBA64;
$GLOBAL_COLOR_ORANGE_400: #E8A43D;
$GLOBAL_COLOR_ORANGE_500: #ff9000;
$GLOBAL_COLOR_ORANGE_600: #B0701D;
$GLOBAL_COLOR_ORANGE_700: #7F5116;
$GLOBAL_COLOR_ORANGE_800: #52360E;
$GLOBAL_COLOR_ORANGE_900: #291C08;
$GLOBAL_COLOR_RED_100: #F2CECC;
$GLOBAL_COLOR_RED_200: #E8A29D;
$GLOBAL_COLOR_RED_300: #E07970;
$GLOBAL_COLOR_RED_400: #DC5648;
$GLOBAL_COLOR_RED_500: #D83E27;
$GLOBAL_COLOR_RED_600: #A73120;
$GLOBAL_COLOR_RED_700: #792419;
$GLOBAL_COLOR_RED_800: #4E1912;
$GLOBAL_COLOR_RED_900: #270E0B;
$GLOBAL_FONTSIZE_12: 0.75rem;
$GLOBAL_FONTSIZE_14: 0.875rem;
$GLOBAL_FONTSIZE_16: 1rem;
$GLOBAL_FONTSIZE_18: 1.125rem;
$GLOBAL_FONTSIZE_20: 1.25rem;
$GLOBAL_FONTSIZE_24: 1.5rem;
$GLOBAL_FONTSIZE_32: 2rem;
$GLOBAL_FONTSIZE_40: 2.5rem;
$GLOBAL_FONTSIZE_48: 3rem;
$GLOBAL_FONTSIZE_BODY: 16px;
$GLOBAL_FONTSIZE_H6: 16px;
$GLOBAL_FONTSIZE_H5: 16px;
$GLOBAL_FONTSIZE_H4: 16px;
$GLOBAL_FONTSIZE_H3: 16px;
$GLOBAL_FONTSIZE_H2: 16px;
$GLOBAL_FONTSIZE_H1: 16px;
$GLOBAL_FONT_DESIGN: Gilbeot;
$GLOBAL_FONT_BODY: NanumBarunGothic;
$GLOBAL_BORDERRADIUS_SMALL: 0.25rem;
$GLOBAL_BORDERRADIUS_MEDIUM: 0.5rem;
$GLOBAL_BORDERRADIUS_LARGE: 1rem;
$GLOBAL_BORDERRADIUS_MAX: 999px;
$GLOBAL_BORDERRADIUS_XLARGE: 2rem;
$GLOBAL_BORDERWIDTH_NONE: 0;
$GLOBAL_BORDERWIDTH_SMALL: 2px;
$GLOBAL_BORDERWIDTH_MEDIUM: 4px;
$GLOBAL_BORDERWIDTH_LARGE: 8px;
$GLOBAL_BORDERWIDTH_MIN: 1px;
$GLOBAL_BORDERWIDTH_MAX: 12px;
$GLOBAL_LETTERSPACING_DEFAULT: 0;
$GLOBAL_LETTERSPACING_DECREASED: -10%;
$GLOBAL_LETTERSPACING_INCREASED: 150%;
$LIGHT_COLOR_STATUS_PRIMARY_100: #D5DEDF;
$LIGHT_COLOR_STATUS_PRIMARY_200: #ACBDBF;
$LIGHT_COLOR_STATUS_PRIMARY_300: #849EA0;
$LIGHT_COLOR_STATUS_PRIMARY_400: #617F82;
$LIGHT_COLOR_STATUS_PRIMARY_500: #317172;
$LIGHT_COLOR_STATUS_PRIMARY_600: #344E50;
$LIGHT_COLOR_STATUS_PRIMARY_700: #273A3C;
$LIGHT_COLOR_STATUS_PRIMARY_800: #1C2729;
$LIGHT_COLOR_STATUS_PRIMARY_900: #111617;
$LIGHT_COLOR_STATUS_INNER_PRIMARY_500: #fff;
$LIGHT_COLOR_STATUS_SUCCESS_100: #D0DAF7;
$LIGHT_COLOR_STATUS_SUCCESS_200: #A2B6F0;
$LIGHT_COLOR_STATUS_SUCCESS_300: #7894EA;
$LIGHT_COLOR_STATUS_SUCCESS_400: #5372E4;
$LIGHT_COLOR_STATUS_SUCCESS_500: #3752DE;
$LIGHT_COLOR_STATUS_SUCCESS_600: #2B41AC;
$LIGHT_COLOR_STATUS_SUCCESS_700: #21317D;
$LIGHT_COLOR_STATUS_SUCCESS_800: #172150;
$LIGHT_COLOR_STATUS_SUCCESS_900: #0E1328;
$LIGHT_COLOR_STATUS_DANGER_100: #F2CECC;
$LIGHT_COLOR_STATUS_DANGER_200: #E8A29D;
$LIGHT_COLOR_STATUS_DANGER_300: #E07970;
$LIGHT_COLOR_STATUS_DANGER_400: #DC5648;
$LIGHT_COLOR_STATUS_DANGER_500: #D83E27;
$LIGHT_COLOR_STATUS_DANGER_600: #A73120;
$LIGHT_COLOR_STATUS_DANGER_700: #792419;
$LIGHT_COLOR_STATUS_DANGER_800: #4E1912;
$LIGHT_COLOR_STATUS_DANGER_900: #270E0B;
$LIGHT_COLOR_STATUS_WARNING_100: #F8E7C7;
$LIGHT_COLOR_STATUS_WARNING_200: #F2D193;
$LIGHT_COLOR_STATUS_WARNING_300: #ECBA64;
$LIGHT_COLOR_STATUS_WARNING_400: #E8A43D;
$LIGHT_COLOR_STATUS_WARNING_500: #ff9000;
$LIGHT_COLOR_STATUS_WARNING_600: #B0701D;
$LIGHT_COLOR_STATUS_WARNING_700: #7F5116;
$LIGHT_COLOR_STATUS_WARNING_800: #52360E;
$LIGHT_COLOR_STATUS_WARNING_900: #291C08;
$LIGHT_COLOR_THEME_BACKGROUND_100: #fff;
$LIGHT_COLOR_THEME_BACKGROUND_200: #f3f3f3;
$LIGHT_COLOR_THEME_BACKGROUND_BLUR: rgba(255,255,255,0.3);
$LIGHT_COLOR_THEME_TEXT_50: #ccc;
$LIGHT_COLOR_THEME_TEXT_100: #aaa;
$LIGHT_COLOR_THEME_TEXT_150: #a1a7ad;
$LIGHT_COLOR_THEME_TEXT_400: #777;
$LIGHT_COLOR_THEME_TEXT_600: #555;
$LIGHT_COLOR_THEME_TEXT_800: #222;
$LIGHT_COLOR_THEME_TEXT_900: #000;
$THEME_COLOR_STATUS_PRIMARY_100: var(--THEME-COLOR-STATUS-PRIMARY-100);
$THEME_COLOR_STATUS_PRIMARY_200: var(--THEME-COLOR-STATUS-PRIMARY-200);
$THEME_COLOR_STATUS_PRIMARY_300: var(--THEME-COLOR-STATUS-PRIMARY-300);
$THEME_COLOR_STATUS_PRIMARY_400: var(--THEME-COLOR-STATUS-PRIMARY-400);
$THEME_COLOR_STATUS_PRIMARY_500: var(--THEME-COLOR-STATUS-PRIMARY-500);
$THEME_COLOR_STATUS_PRIMARY_600: var(--THEME-COLOR-STATUS-PRIMARY-600);
$THEME_COLOR_STATUS_PRIMARY_700: var(--THEME-COLOR-STATUS-PRIMARY-700);
$THEME_COLOR_STATUS_PRIMARY_800: var(--THEME-COLOR-STATUS-PRIMARY-800);
$THEME_COLOR_STATUS_PRIMARY_900: var(--THEME-COLOR-STATUS-PRIMARY-900);
$THEME_COLOR_STATUS_INNER_PRIMARY_500: var(--THEME-COLOR-STATUS-INNER-PRIMARY-500);
$THEME_COLOR_STATUS_SUCCESS_100: var(--THEME-COLOR-STATUS-SUCCESS-100);
$THEME_COLOR_STATUS_SUCCESS_200: var(--THEME-COLOR-STATUS-SUCCESS-200);
$THEME_COLOR_STATUS_SUCCESS_300: var(--THEME-COLOR-STATUS-SUCCESS-300);
$THEME_COLOR_STATUS_SUCCESS_400: var(--THEME-COLOR-STATUS-SUCCESS-400);
$THEME_COLOR_STATUS_SUCCESS_500: var(--THEME-COLOR-STATUS-SUCCESS-500);
$THEME_COLOR_STATUS_SUCCESS_600: var(--THEME-COLOR-STATUS-SUCCESS-600);
$THEME_COLOR_STATUS_SUCCESS_700: var(--THEME-COLOR-STATUS-SUCCESS-700);
$THEME_COLOR_STATUS_SUCCESS_800: var(--THEME-COLOR-STATUS-SUCCESS-800);
$THEME_COLOR_STATUS_SUCCESS_900: var(--THEME-COLOR-STATUS-SUCCESS-900);
$THEME_COLOR_STATUS_DANGER_100: var(--THEME-COLOR-STATUS-DANGER-100);
$THEME_COLOR_STATUS_DANGER_200: var(--THEME-COLOR-STATUS-DANGER-200);
$THEME_COLOR_STATUS_DANGER_300: var(--THEME-COLOR-STATUS-DANGER-300);
$THEME_COLOR_STATUS_DANGER_400: var(--THEME-COLOR-STATUS-DANGER-400);
$THEME_COLOR_STATUS_DANGER_500: var(--THEME-COLOR-STATUS-DANGER-500);
$THEME_COLOR_STATUS_DANGER_600: var(--THEME-COLOR-STATUS-DANGER-600);
$THEME_COLOR_STATUS_DANGER_700: var(--THEME-COLOR-STATUS-DANGER-700);
$THEME_COLOR_STATUS_DANGER_800: var(--THEME-COLOR-STATUS-DANGER-800);
$THEME_COLOR_STATUS_DANGER_900: var(--THEME-COLOR-STATUS-DANGER-900);
$THEME_COLOR_STATUS_WARNING_100: var(--THEME-COLOR-STATUS-WARNING-100);
$THEME_COLOR_STATUS_WARNING_200: var(--THEME-COLOR-STATUS-WARNING-200);
$THEME_COLOR_STATUS_WARNING_300: var(--THEME-COLOR-STATUS-WARNING-300);
$THEME_COLOR_STATUS_WARNING_400: var(--THEME-COLOR-STATUS-WARNING-400);
$THEME_COLOR_STATUS_WARNING_500: var(--THEME-COLOR-STATUS-WARNING-500);
$THEME_COLOR_STATUS_WARNING_600: var(--THEME-COLOR-STATUS-WARNING-600);
$THEME_COLOR_STATUS_WARNING_700: var(--THEME-COLOR-STATUS-WARNING-700);
$THEME_COLOR_STATUS_WARNING_800: var(--THEME-COLOR-STATUS-WARNING-800);
$THEME_COLOR_STATUS_WARNING_900: var(--THEME-COLOR-STATUS-WARNING-900);
$THEME_COLOR_THEME_BACKGROUND_100: var(--THEME-COLOR-THEME-BACKGROUND-100);
$THEME_COLOR_THEME_BACKGROUND_200: var(--THEME-COLOR-THEME-BACKGROUND-200);
$THEME_COLOR_THEME_BACKGROUND_BLUR: var(--THEME-COLOR-THEME-BACKGROUND-BLUR);
$THEME_COLOR_THEME_TEXT_50: var(--THEME-COLOR-THEME-TEXT-50);
$THEME_COLOR_THEME_TEXT_100: var(--THEME-COLOR-THEME-TEXT-100);
$THEME_COLOR_THEME_TEXT_150: var(--THEME-COLOR-THEME-TEXT-150);
$THEME_COLOR_THEME_TEXT_400: var(--THEME-COLOR-THEME-TEXT-400);
$THEME_COLOR_THEME_TEXT_600: var(--THEME-COLOR-THEME-TEXT-600);
$THEME_COLOR_THEME_TEXT_800: var(--THEME-COLOR-THEME-TEXT-800);
$THEME_COLOR_THEME_TEXT_900: var(--THEME-COLOR-THEME-TEXT-900);
