$GLOBAL_COLOR_GREEN_500: #683FE9;
$GLOBAL_COLOR_WHITE_900: #fff;
$GLOBAL_COLOR_BLACK_100: #000;
$GLOBAL_COLOR_BLACK_150: #151515;
$GLOBAL_COLOR_BLACK_500: #555;
$GLOBAL_COLOR_BLACK_700: #777;
$GLOBAL_COLOR_BLACK_900: #f3f3f3;
$LIGHT_COLOR_STATUS_PRIMARY: #317172;
$LIGHT_COLOR_STATUS_INNER_PRIMARY: #fff;
$LIGHT_COLOR_THEME_BACKGROUND: #fff;
$LIGHT_COLOR_THEME_TEXT: #000;
$LIGHT_COLOR_THEME_INPUT: #f3f3f3;
$LIGHT_COLOR_THEME_PLACEHOLDER: #777;
