:root[data-theme="light"] {
	--THEME-COLOR-STATUS-PRIMARY-100: #{$LIGHT_COLOR_STATUS_PRIMARY_100};
	--THEME-COLOR-STATUS-PRIMARY-200: #{$LIGHT_COLOR_STATUS_PRIMARY_200};
	--THEME-COLOR-STATUS-PRIMARY-300: #{$LIGHT_COLOR_STATUS_PRIMARY_300};
	--THEME-COLOR-STATUS-PRIMARY-400: #{$LIGHT_COLOR_STATUS_PRIMARY_400};
	--THEME-COLOR-STATUS-PRIMARY-500: #{$LIGHT_COLOR_STATUS_PRIMARY_500};
	--THEME-COLOR-STATUS-PRIMARY-600: #{$LIGHT_COLOR_STATUS_PRIMARY_600};
	--THEME-COLOR-STATUS-PRIMARY-700: #{$LIGHT_COLOR_STATUS_PRIMARY_700};
	--THEME-COLOR-STATUS-PRIMARY-800: #{$LIGHT_COLOR_STATUS_PRIMARY_800};
	--THEME-COLOR-STATUS-PRIMARY-900: #{$LIGHT_COLOR_STATUS_PRIMARY_900};
	--THEME-COLOR-STATUS-INNER-PRIMARY-500: #{$LIGHT_COLOR_STATUS_INNER_PRIMARY_500};
	--THEME-COLOR-STATUS-SUCCESS-100: #{$LIGHT_COLOR_STATUS_SUCCESS_100};
	--THEME-COLOR-STATUS-SUCCESS-200: #{$LIGHT_COLOR_STATUS_SUCCESS_200};
	--THEME-COLOR-STATUS-SUCCESS-300: #{$LIGHT_COLOR_STATUS_SUCCESS_300};
	--THEME-COLOR-STATUS-SUCCESS-400: #{$LIGHT_COLOR_STATUS_SUCCESS_400};
	--THEME-COLOR-STATUS-SUCCESS-500: #{$LIGHT_COLOR_STATUS_SUCCESS_500};
	--THEME-COLOR-STATUS-SUCCESS-600: #{$LIGHT_COLOR_STATUS_SUCCESS_600};
	--THEME-COLOR-STATUS-SUCCESS-700: #{$LIGHT_COLOR_STATUS_SUCCESS_700};
	--THEME-COLOR-STATUS-SUCCESS-800: #{$LIGHT_COLOR_STATUS_SUCCESS_800};
	--THEME-COLOR-STATUS-SUCCESS-900: #{$LIGHT_COLOR_STATUS_SUCCESS_900};
	--THEME-COLOR-STATUS-DANGER-100: #{$LIGHT_COLOR_STATUS_DANGER_100};
	--THEME-COLOR-STATUS-DANGER-200: #{$LIGHT_COLOR_STATUS_DANGER_200};
	--THEME-COLOR-STATUS-DANGER-300: #{$LIGHT_COLOR_STATUS_DANGER_300};
	--THEME-COLOR-STATUS-DANGER-400: #{$LIGHT_COLOR_STATUS_DANGER_400};
	--THEME-COLOR-STATUS-DANGER-500: #{$LIGHT_COLOR_STATUS_DANGER_500};
	--THEME-COLOR-STATUS-DANGER-600: #{$LIGHT_COLOR_STATUS_DANGER_600};
	--THEME-COLOR-STATUS-DANGER-700: #{$LIGHT_COLOR_STATUS_DANGER_700};
	--THEME-COLOR-STATUS-DANGER-800: #{$LIGHT_COLOR_STATUS_DANGER_800};
	--THEME-COLOR-STATUS-DANGER-900: #{$LIGHT_COLOR_STATUS_DANGER_900};
	--THEME-COLOR-STATUS-WARNING-100: #{$LIGHT_COLOR_STATUS_WARNING_100};
	--THEME-COLOR-STATUS-WARNING-200: #{$LIGHT_COLOR_STATUS_WARNING_200};
	--THEME-COLOR-STATUS-WARNING-300: #{$LIGHT_COLOR_STATUS_WARNING_300};
	--THEME-COLOR-STATUS-WARNING-400: #{$LIGHT_COLOR_STATUS_WARNING_400};
	--THEME-COLOR-STATUS-WARNING-500: #{$LIGHT_COLOR_STATUS_WARNING_500};
	--THEME-COLOR-STATUS-WARNING-600: #{$LIGHT_COLOR_STATUS_WARNING_600};
	--THEME-COLOR-STATUS-WARNING-700: #{$LIGHT_COLOR_STATUS_WARNING_700};
	--THEME-COLOR-STATUS-WARNING-800: #{$LIGHT_COLOR_STATUS_WARNING_800};
	--THEME-COLOR-STATUS-WARNING-900: #{$LIGHT_COLOR_STATUS_WARNING_900};
	--THEME-COLOR-THEME-BACKGROUND-100: #{$LIGHT_COLOR_THEME_BACKGROUND_100};
	--THEME-COLOR-THEME-BACKGROUND-150: #{$LIGHT_COLOR_THEME_BACKGROUND_150};
	--THEME-COLOR-THEME-BACKGROUND-200: #{$LIGHT_COLOR_THEME_BACKGROUND_200};
	--THEME-COLOR-THEME-BACKGROUND-BLUR: #{$LIGHT_COLOR_THEME_BACKGROUND_BLUR};
	--THEME-COLOR-THEME-TEXT-50: #{$LIGHT_COLOR_THEME_TEXT_50};
	--THEME-COLOR-THEME-TEXT-100: #{$LIGHT_COLOR_THEME_TEXT_100};
	--THEME-COLOR-THEME-TEXT-150: #{$LIGHT_COLOR_THEME_TEXT_150};
	--THEME-COLOR-THEME-TEXT-400: #{$LIGHT_COLOR_THEME_TEXT_400};
	--THEME-COLOR-THEME-TEXT-600: #{$LIGHT_COLOR_THEME_TEXT_600};
	--THEME-COLOR-THEME-TEXT-800: #{$LIGHT_COLOR_THEME_TEXT_800};
	--THEME-COLOR-THEME-TEXT-900: #{$LIGHT_COLOR_THEME_TEXT_900};
}
