:root[data-theme="light"] {
	--THEME-COLOR-STATUS-PRIMARY-100: #{$LIGHT_COLOR_STATUS_PRIMARY_100};
	--THEME-COLOR-STATUS-PRIMARY-200: #{$LIGHT_COLOR_STATUS_PRIMARY_200};
	--THEME-COLOR-STATUS-PRIMARY-300: #{$LIGHT_COLOR_STATUS_PRIMARY_300};
	--THEME-COLOR-STATUS-PRIMARY-400: #{$LIGHT_COLOR_STATUS_PRIMARY_400};
	--THEME-COLOR-STATUS-PRIMARY-500: #{$LIGHT_COLOR_STATUS_PRIMARY_500};
	--THEME-COLOR-STATUS-PRIMARY-600: #{$LIGHT_COLOR_STATUS_PRIMARY_600};
	--THEME-COLOR-STATUS-PRIMARY-700: #{$LIGHT_COLOR_STATUS_PRIMARY_700};
	--THEME-COLOR-STATUS-PRIMARY-800: #{$LIGHT_COLOR_STATUS_PRIMARY_800};
	--THEME-COLOR-STATUS-PRIMARY-900: #{$LIGHT_COLOR_STATUS_PRIMARY_900};
	--THEME-COLOR-STATUS-INNER-PRIMARY-500: #{$LIGHT_COLOR_STATUS_INNER_PRIMARY_500};
	--THEME-COLOR-THEME-BACKGROUND-100: #{$LIGHT_COLOR_THEME_BACKGROUND_100};
	--THEME-COLOR-THEME-BACKGROUND-200: #{$LIGHT_COLOR_THEME_BACKGROUND_200};
	--THEME-COLOR-THEME-BACKGROUND-BLUR: #{$LIGHT_COLOR_THEME_BACKGROUND_BLUR};
	--THEME-COLOR-THEME-TEXT-50: #{$LIGHT_COLOR_THEME_TEXT_50};
	--THEME-COLOR-THEME-TEXT-100: #{$LIGHT_COLOR_THEME_TEXT_100};
	--THEME-COLOR-THEME-TEXT-400: #{$LIGHT_COLOR_THEME_TEXT_400};
	--THEME-COLOR-THEME-TEXT-600: #{$LIGHT_COLOR_THEME_TEXT_600};
	--THEME-COLOR-THEME-TEXT-800: #{$LIGHT_COLOR_THEME_TEXT_800};
	--THEME-COLOR-THEME-TEXT-900: #{$LIGHT_COLOR_THEME_TEXT_900};
}
