@import 'styles/@global.scss';

.component-side-menu {
  position: sticky;
  top: 7.6rem; /* 레이아웃 헤더 Sass Variable 선언 처리하기 */
  align-self: start;

  @include mobile {
    position: relative;
    top: unset;
  }

  .title {
    color: $THEME_COLOR_STATUS_PRIMARY_600;
    font-weight: bold;
  }

  .list {
    gap: 0.75rem;
    margin-bottom: 2rem;

    @include mobile {
      flex-direction: row;
    }

    .menu {
      cursor: pointer;

      display: flex;
      flex-direction: row;
      gap: 0.75rem;
      padding: 1rem;
      width: 100%;
      color: $THEME_COLOR_THEME_TEXT_800;
      background-color: $THEME_COLOR_THEME_BACKGROUND_100;
      font-size: 15px;
      letter-spacing: 1px;
      border-radius: $GLOBAL_BORDERRADIUS_MEDIUM;
      box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.025), 0 2px 2px rgba(0, 0, 0, 0.025);

      transition: all 0.2s ease;

      svg {
        color: $THEME_COLOR_STATUS_PRIMARY_300;
        transition: all 0.2s ease;
      }
    }

    .focus {
      font-weight: bold;
      font-size: 1.1rem;
      color: $THEME_COLOR_THEME_TEXT_800;

      svg {
        color: $THEME_COLOR_STATUS_PRIMARY_500;
      }
    }

    .menu:hover {
      transform: translateX(3%);
      color: $THEME_COLOR_STATUS_PRIMARY_600;

      svg {
        color: $THEME_COLOR_STATUS_PRIMARY_500;
        transform: scale(1.5);
        margin-right: 0.25rem;
      }

      @include mobile {
        transform: unset;
      }
    }
  }
}
