@import 'styles/@global.scss';

.layout {
  min-height: 100vh;
  background-color: $THEME_COLOR_THEME_BACKGROUND_200;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(243, 243, 243, 0.5); // TODO: 상수 처리
  backdrop-filter: blur(0.6rem); // TODO: 상수 처리
  border-top: 5px solid $THEME_COLOR_STATUS_PRIMARY_500; // TODO: 스크롤에 따라 Progress 처리

  z-index: 5;

  .menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid $THEME_COLOR_STATUS_PRIMARY_100;
    padding: 1.5rem 1rem;

    .left-container {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      .review-form-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;

        .title {
          color: $THEME_COLOR_STATUS_PRIMARY_700;
        }

        .creator {
          color: $THEME_COLOR_THEME_TEXT_400;
          text-shadow: 0 0 1rem $THEME_COLOR_THEME_BACKGROUND_100;
        }
      }
    }

    .right-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

.container {
  min-width: 768px;
  max-width: 1056px;
  padding: 0 1rem;
  height: 100%;
  margin: 0 auto;
}

.content {
  display: grid;
  grid-template-columns: 63% 32%;
  gap: 5%;
  padding: 1.5rem 1rem;

  .participant-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .article-container {
    width: 100%;
    padding: 2rem;

    background-color: $THEME_COLOR_THEME_BACKGROUND_100;
    border-radius: 2rem;

    & > .title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      margin-bottom: 1.5rem;
    }

    .participant-list-container {
      display: flex;
      flex-direction: column;
      margin-top: 0.5rem;
      padding: 0.5rem 0;

      min-height: 9.375rem;
      height: 22vh;
      max-height: 18.75rem;
      overflow: scroll;

      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }

      .list-item-container {
        display: flex;
        padding: 0.5rem 0.25rem;
        border-radius: $GLOBAL_BORDERRADIUS_MEDIUM;
        transition: background-color 0.2s ease;

        &:hover {
          cursor: pointer;
          background-color: $THEME_COLOR_THEME_BACKGROUND_200;
        }

        .profile {
          width: 2.5rem;
          height: 2.5rem;
          background-position: center;
          background-size: cover;
          border-radius: $GLOBAL_BORDERRADIUS_MAX;
        }

        .user-info-container {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          margin-left: 0.5rem;

          .nickname {
            color: $THEME_COLOR_THEME_TEXT_800;
          }

          .update {
            color: $THEME_COLOR_THEME_TEXT_400;
          }
        }
      }
    }
  }
}

.profile-list {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  overflow: scroll hidden;
}

.post-container {
  & > hr {
    margin: 1.5rem 0;
  }

  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    text-align: center;

    & > .profile {
      width: 4.375rem;
      height: 6rem;
      border-radius: $GLOBAL_BORDERRADIUS_MAX;
      background-color: #000;
    }

    & > .text {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}

.side-menu {
  align-self: start;
  position: sticky;
  top: 7.6875rem;

  .infoTitle {
    margin-bottom: 1rem;
  }

  .info-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & > .wrapper {
      display: flex;
      justify-content: space-between;

      & > .text {
        color: $THEME_COLOR_THEME_TEXT_400;
      }

      & > .label {
        color: $THEME_COLOR_THEME_TEXT_600;
      }
    }
  }

  .join-button {
    margin-top: 1.25rem;
    width: 100%;
  }

  .small-title {
    margin-top: 1.5rem;
    color: $GLOBAL_COLOR_GRAY_500;
  }

  .link-wrapper {
    position: relative;
    margin-top: 0.5rem;
    overflow: hidden;
    border-radius: $GLOBAL_BORDERRADIUS_MAX;

    & > .input {
      position: relative;
      color: $GLOBAL_COLOR_GRAY_300;
    }

    & > .button {
      position: absolute;
      color: #1267e7;

      display: flex;
      padding-right: 0.8rem;
      justify-content: right;
      align-items: center;

      position: absolute;
      width: 25%;
      height: 100%;
      top: 0;
      right: 0;

      background-image: linear-gradient(
        90deg,
        transparent 0%,
        $THEME_COLOR_THEME_BACKGROUND_200 40%
      );

      &:hover {
        cursor: pointer;
      }
    }
  }

  .button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 0.5rem;
  }
}

.table {
  position: relative;
  text-align: left;
  border-collapse: separate;
  width: 100%;
  background-color: $THEME_COLOR_THEME_BACKGROUND_100;
  min-width: 100%;
  overflow-x: scroll;

  thead {
    position: sticky;
    top: 6.1875rem;
    background-color: $GLOBAL_COLOR_WHITE_400;
    backdrop-filter: blur(1rem);
  }

  th {
    border-bottom: 1px solid;
    border-right: 1px solid;
  }

  td {
    border-bottom: 1px solid;
    border-right: 1px solid;
  }

  th,
  td:first-child {
    font-weight: bold;
    color: $THEME_COLOR_STATUS_PRIMARY_600;
  }

  th,
  td {
    border-color: $THEME_COLOR_STATUS_PRIMARY_100;
    padding: 0.75rem;
    min-width: 10vw;
    line-height: 160%;
  }

  & tbody tr:hover {
    background-color: $THEME_COLOR_THEME_BACKGROUND_200;
  }

  th:first-child,
  td:first-child {
    border-left: 1px solid;
    width: 8vw;
  }
}
