@import 'styles/@variables.scss';

@import './animations/fade.scss';
@import './animations/drop.scss';

.appear {
  animation-direction: normal;
}

.disappear {
  animation-direction: reverse;
  animation-fill-mode: forwards;
}
