@import 'styles/@global.scss';

.background {
  position: relative;
  min-width: 768px;

  &::before {
    content: '';

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;

    background: radial-gradient(
        102.36% 71.97% at 92.78% 94.68%,
        rgba(49, 113, 114, 0.15) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      radial-gradient(
        77.78% 54.69% at 10.49% 43.21%,
        rgba(255, 166, 84, 0.25) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      $GLOBAL_COLOR_GRAY_950;
  }

  &::after {
    content: '';

    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;

    box-shadow: -0.625rem 0px 1.625rem $GLOBAL_COLOR_BLACK_20;
  }
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, 50%);
  grid-template-rows: 100%;

  min-width: 768px;
  max-width: 1024px;
  min-height: 100vh;

  margin: 0 auto;
  z-index: 1;

  & > * {
    padding: 3rem;
  }
}
