@import 'styles/@global.scss';

.button {
  cursor: pointer;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  border: none;
  border-radius: 999px;
  overflow: hidden;

  &:disabled {
    cursor: default;
    filter: grayscale(1) brightness(1.5);
    pointer-events: none;
  }

  & :global(.icon) {
    line-height: 70%;
  }

  &:not(.theme-outlined) {
    color: $LIGHT_COLOR_STATUS_INNER_PRIMARY_500;
    background-color: $LIGHT_COLOR_STATUS_PRIMARY_500;
    transition: filter 0.3s ease-out;

    &:hover {
      filter: brightness(1.2);
    }
  }
}

.theme-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  & > *:not(:global(.icon)) {
    display: none;
  }

  & > :global(.icon) {
    margin: 0;
  }

  &.small {
    padding: 0;
    width: 2rem;
    height: 2rem;
  }

  &.medium {
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
  }

  &.large {
    padding: 0;
    width: 3.25rem;
    height: 3.25rem;
  }
}

.theme-outlined {
  position: relative;
  color: $LIGHT_COLOR_STATUS_PRIMARY_500;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    color: $LIGHT_COLOR_STATUS_INNER_PRIMARY_500;
    background-color: $LIGHT_COLOR_STATUS_PRIMARY_500;
  }

  &:before {
    content: '';
    position: absolute;
    display: block;

    width: 100%;
    height: 100%;
    border: 2px solid $LIGHT_COLOR_STATUS_PRIMARY_500;
    box-sizing: border-box;
    border-radius: 999px;
  }
}

.filled {
  width: 100%;
}

.small {
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
}

.medium {
  padding: 0.625rem 1rem;
  font-size: 1rem;
}

.large {
  padding: 0.825rem 1.25rem;
  font-size: 1.1rem;
}

.ripple-effect {
  position: absolute;
  top: 0;
  left: 0;

  width: 10%;

  border-radius: 100%;
  background-color: $GLOBAL_COLOR_WHITE_400;

  &::after {
    content: '';

    display: block;
    padding-bottom: 100%;
  }

  @include animate(0.5s ease-out forwards) {
    0% {
      transform: scale(1);
      opacity: 0;
    }

    20% {
      opacity: 1;
    }

    100% {
      transform: scale(20);
      opacity: 0;
    }
  }
}
