@import 'styles/@global.scss';

.button {
  cursor: pointer;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 999px;
  overflow: hidden;

  border: none;
  color: $LIGHT_COLOR_STATUS_INNER_PRIMARY_500;
  background-color: $LIGHT_COLOR_STATUS_PRIMARY_500;

  &:disabled {
    cursor: default;
    filter: grayscale(1) brightness(1.5);
    pointer-events: none;
  }
}

.outlined {
  border: 2px solid $LIGHT_COLOR_STATUS_PRIMARY_500;
  color: $LIGHT_COLOR_STATUS_PRIMARY_500;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    color: $LIGHT_COLOR_STATUS_INNER_PRIMARY_500;
    background-color: $LIGHT_COLOR_STATUS_PRIMARY_500;
  }
}

.button:not(.outlined) {
  transition: filter 0.3s ease-out;
}

.button:not(.outlined):hover {
  filter: brightness(1.2);
}

.button :global(.icon) {
  margin-right: 0.45em;
}

.small {
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
}

.small:not(.filled) {
  border-width: 1px;
}

.medium {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
}

.large {
  padding: 0.875rem 1.25rem;
  font-size: 1.1rem;
}

.ripple-effect {
  position: absolute;
  top: 0;
  left: 0;

  width: 10%;

  border-radius: 100%;
  background-color: $GLOBAL_COLOR_WHITE_400;

  &::after {
    content: '';

    display: block;
    padding-bottom: 100%;
  }

  @include animate(0.5s ease-out forwards) {
    0% {
      transform: scale(1);
      opacity: 0;
    }

    20% {
      opacity: 1;
    }

    100% {
      transform: scale(20);
      opacity: 0;
    }
  }
}
