@import 'styles/@global.scss';

.inline-buttons {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;

  .button {
    cursor: pointer;
    color: $THEME_COLOR_THEME_TEXT_150;
    gap: 0.25rem;
    padding: 0.25rem;

    .icon {
      font-size: 1.25rem;
    }

    &:hover {
      color: $THEME_COLOR_THEME_TEXT_800;
    }
  }
}

.answerContainer {
  &:not(:last-child) {
    border-bottom: 1px solid $THEME_COLOR_THEME_BACKGROUND_200;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
  }

  .question {
    color: $THEME_COLOR_STATUS_PRIMARY_700;
  }

  .description {
    line-height: 1.5rem;
    white-space: pre-wrap;
    word-break: keep-all;
    color: $THEME_COLOR_THEME_TEXT_400;
  }

  .answer {
    line-height: 1.5rem;
    white-space: pre-wrap;
    word-break: keep-all;
    color: $THEME_COLOR_THEME_TEXT_800;
  }
}
