@import 'styles/@global.scss';

.inline-buttons {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;

  .button {
    cursor: pointer;
    color: $THEME_COLOR_THEME_TEXT_150;
    gap: 0.25rem;
    padding: 0.25rem;

    .icon {
      font-size: 1.25rem;
    }

    &:hover {
      color: $THEME_COLOR_THEME_TEXT_800;
    }
  }
}

.title {
  padding: 1.25rem 0;
  color: $THEME_COLOR_STATUS_PRIMARY_600;
  border-bottom: 1px solid $THEME_COLOR_STATUS_PRIMARY_100;
  line-height: 160%;
}

.answerContainer {
  &:nth-child(2) {
    margin-top: 0.5rem;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $THEME_COLOR_THEME_BACKGROUND_200;
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
  }

  .question {
    color: $THEME_COLOR_STATUS_PRIMARY_700;
    line-height: 160%;
  }

  .description {
    word-break: break-word;
    color: $THEME_COLOR_THEME_TEXT_400;
    white-space: pre-line;
    line-height: 160%;
  }

  .answer {
    word-break: break-word;
    color: $THEME_COLOR_THEME_TEXT_800;
    white-space: pre-line;
    line-height: 180%;
    margin-top: 0.5rem;
  }
}
