@import 'styles/@global.scss';

.container {
  display: flex;
  padding: 0.5rem 0.25rem;

  .profile {
    width: 2.5rem;
    height: 2.5rem;
    background-position: center;
    background-size: cover;
    border-radius: $GLOBAL_BORDERRADIUS_MAX;
  }

  .user-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.375rem;
    margin-left: 0.5rem;

    .nickname {
      color: $THEME_COLOR_THEME_TEXT_800;
    }

    .update {
      color: $THEME_COLOR_THEME_TEXT_400;
    }
  }
}
