@import 'styles/@global.scss';

.reviewContainer {
  padding: 2rem 2.5rem;
  margin: 10px;
  border-radius: 10px;
  background-color: $THEME_COLOR_THEME_BACKGROUND_100;

  box-shadow: 0px 2px 2px $GLOBAL_COLOR_BLACK_20, 0px 0.575rem 1.56rem $GLOBAL_COLOR_BLACK_100;
  border-radius: 16px;
  border-top: 1px solid $THEME_COLOR_THEME_BACKGROUND_200;

  .header {
    display: flex;
    justify-content: space-between;

    .title {
      color: $THEME_COLOR_STATUS_PRIMARY_600;
      transition: color ease 0.3s;

      &:hover {
        color: $THEME_COLOR_STATUS_PRIMARY_400;
      }
    }

    .button-container {
      display: flex;
      flex-direction: row;
      gap: 0.25rem;
      font-size: 1.125rem;

      .icon {
        color: $THEME_COLOR_THEME_TEXT_150;
        cursor: pointer;
        padding: 0.25rem;
        transition: color ease 0.3s;

        &:hover {
          color: $THEME_COLOR_STATUS_PRIMARY_400;
        }
      }
    }
  }

  > hr {
    margin: 1.5rem 0;
    border-color: $THEME_COLOR_STATUS_PRIMARY_100;
  }
}

.no-result {
  margin-top: 17.25rem;
}
