@import 'styles/@global.scss';

.container {
  &.sticky {
    position: sticky;
    top: 3rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .line {
    width: 100%;
    margin: -0.625rem 0;
  }
}

.editor-container {
  position: sticky;
  top: 3rem;
}

.item-container {
  gap: 1rem;
}

.title {
  font-size: 2.125rem;
  font-weight: bold;
  word-break: keep-all;
  line-height: 140%;
  color: $THEME_COLOR_STATUS_PRIMARY_600;
}

.subtitle {
  font-size: 1rem;
  font-weight: lighter;
  color: $THEME_COLOR_THEME_TEXT_400;
  line-height: 2rem;
  word-break: keep-all;
}
