@import 'styles/@global.scss';

.container {
  &.sticky {
    position: sticky;
    top: 3rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .line {
    width: 100%;
    margin: -0.625rem 0;
  }
}
