@import 'styles/@global.scss';

.answer-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  & > .answer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $THEME_COLOR_THEME_BACKGROUND_200;

    &:last-child {
      border: none;
      padding-bottom: 0;
    }

    & > .answer-content {
      white-space: pre-wrap;
      word-break: break-word;
      font-size: 1rem;
      color: $THEME_COLOR_THEME_TEXT_800;
      line-height: 140%;
    }
  }
}
