@import 'styles/@global.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;

  & > .image {
    position: relative;
    display: block;
    background-color: $LIGHT_COLOR_THEME_BACKGROUND_200;

    filter: brightness(0.95);
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;

      display: block;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.06%, rgba(0, 0, 0, 0.4) 100%);

      width: 100%;
      height: 50%;
    }
  }

  & > .text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & > .description {
      color: $LIGHT_COLOR_THEME_TEXT_400;
    }
  }
}

.container.square {
  & > .image {
    width: 5.625rem;
    height: 7.8125rem;
    border-radius: 16px;
  }
}

.container.round {
  & > .image {
    width: 4.375rem;
    height: 6rem;
    border-radius: 999px;
  }
}
