@import 'styles/@global.scss';

.text-box {
  width: 100%;
  border: none;
  border-radius: 999px;
  background-color: $LIGHT_COLOR_THEME_BACKGROUND_200;
  &:focus {
    outline: none;
  }

  &::placeholder {
    font-weight: lighter;
    color: $LIGHT_COLOR_THEME_TEXT_400;
  }
}

.theme-underline {
  background: transparent;
  border-bottom: 3px solid #317172;
  border-radius: 0;
  font-weight: bold;
  color: $LIGHT_COLOR_STATUS_PRIMARY_700;
}

.size-small {
  font-size: 0.8rem;
  padding: 0.5rem 1rem;

  &.theme-underline {
    padding: 0.5rem 0.3rem;
  }
}

.size-medium {
  font-size: 0.9rem;
  padding: 0.75rem 1.25rem;
}

.size-large {
  font-size: 1rem;
  padding: 1rem 1.5rem;

  &.theme-underline {
    font-size: 1.5rem;
    padding: 0.75rem 0rem;
  }
}
