@import 'styles/@global.scss';

.layout-main {
  min-height: 100vh;
  background-color: #fbfbfb;
}

.layout-component-header {
  position: sticky;
  top: 0;
  z-index: 5;

  background-color: $THEME_COLOR_THEME_BACKGROUND_BLUR;
  backdrop-filter: blur(0.6rem);
  box-shadow: 0 0 2rem $GLOBAL_COLOR_BLACK_50;

  .navbar {
    @include tablet {
      width: 920px;
    }

    width: 1056px;
    padding: 0 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4% 25% 43% 22%;
    gap: 2%;

    & > * {
      position: relative;
    }

    @include mobile {
      width: 100%;
      margin: unset;
      padding: 1rem 1.5rem;
      grid-template-columns: minmax(10%, auto) minmax(60%, auto) minmax(15%, auto);
      gap: 5%;
    }

    .logo {
      @include mobile {
        width: 3.2rem;
        height: 3.2rem;

        svg {
          width: 100%;
          height: 100%;
          overflow: visible;
        }
      }
    }

    .menu-list {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: right;
      text-align: center;

      @include mobile {
        display: none;
      }

      .item {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        letter-spacing: 1px;
        padding: 2.3125rem 5%;
        margin: 0 0.2%;
        color: $THEME_COLOR_STATUS_PRIMARY_800;
      }

      .item:hover {
        color: $THEME_COLOR_STATUS_PRIMARY_500;
      }

      .item::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0px;

        left: 0;
        bottom: 0;
        transition: 0.2s ease background-color, 0.2s ease height;
      }

      .item:hover::after {
        height: 4px;
        background-color: $THEME_COLOR_STATUS_PRIMARY_500;
      }
    }

    .search-button {
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: 1rem;
      color: $THEME_COLOR_THEME_TEXT_800;

      background-color: transparent;
      border: none;
      font-size: 1rem;
      padding: 0;
      margin: 0;

      transform: translateY(-50%);
    }

    .quick-review-start-button {
      @include mobile {
        display: none;
      }
    }

    .quick-menu-container {
      position: relative;
      justify-content: right;
      gap: 5%;

      .profile {
        cursor: pointer;

        width: 2rem;
        height: 2rem;

        background-color: $THEME_COLOR_THEME_BACKGROUND_200;
        background-size: cover;
        background-position: center;
        border-radius: 50%;

        @include mobile {
          width: 2.5rem;
          height: 2.5rem;
        }
      }

      .popup-menu {
        cursor: pointer;
        padding: 1rem;
        color: $THEME_COLOR_THEME_TEXT_600;

        &:not(&:last-child) {
          border-bottom: 1px solid $GLOBAL_COLOR_BLACK_100;
        }

        &:hover {
          background-color: $GLOBAL_COLOR_BLACK_20;
        }
      }

      .login-text {
        cursor: pointer;
        color: $THEME_COLOR_STATUS_PRIMARY_500;
        padding: 0.5rem 0.75rem;
        border-radius: 999px;

        transition: background-color 0.2s ease;

        &::after {
          content: '';

          display: block;
          width: 100%;
          height: 1px;

          background-color: $THEME_COLOR_STATUS_PRIMARY_500;

          transition: background-color 0.2s ease;
        }

        &:hover {
          background-color: $THEME_COLOR_THEME_BACKGROUND_200;

          &::after {
            background-color: transparent;
          }
        }
      }
    }
  }
}

.page-title {
  position: relative;
  padding: 2rem 1.5rem;
  font-size: 2rem;
  z-index: 1;
}

.main {
  width: 100%;
  min-height: 31.25rem;

  @include mobile {
    min-height: unset;
    padding: 0 0 3rem;
  }
}
