@import 'styles/@global.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 2.125rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  word-break: keep-all;
  line-height: 140%;
  color: $LIGHT_COLOR_STATUS_PRIMARY_600;
}

.subtitle {
  font-size: 1.125rem;
  color: $LIGHT_COLOR_THEME_TEXT_SOFT;
  line-height: 2rem;
  word-break: keep-all;
}
