@import 'styles/@global.scss';

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

.title {
  width: 80%;
  margin-top: 1.75rem;
  letter-spacing: 0.25rem;
  line-height: 3.5rem;
  word-break: break-word;

  @include animation(0.5s ease) {
    from {
      opacity: 0;
      filter: blur(1rem);
      transform: scale(1.2) translateX(-50%);
    }

    to {
      opacity: 1;
      filter: blur(0rem);
      transform: scale(1) translateY(0%);
    }
  }
}

.description {
  display: block;
  color: $THEME_COLOR_THEME_TEXT_900;
  margin-bottom: 2rem;

  @include animation(1.5s ease) {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}

.progress-text {
  color: $THEME_COLOR_THEME_TEXT_400;
  margin-top: 0.5rem;
}

.review-title {
  margin-bottom: 2.25rem;
}

.button-container {
  float: right;
  margin-top: 3rem;
}

.field-set-container {
  margin: 2rem 0;
}

.profile-container {
  display: flex;
  flex-direction: column;
  width: 5.9375rem;
  gap: 1.8rem;
}

.profile {
  width: 5.9375rem;
  height: 8.125rem;
  border-radius: 62.4375rem;
  margin-top: 3.5rem;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.creator-name {
  margin-top: 1rem;
  letter-spacing: 0.25rem;
  color: $THEME_COLOR_STATUS_PRIMARY_600;
}

.profile-description {
  margin-top: 1rem;
  color: $GLOBAL_COLOR_GRAY_500;
}
