@import 'styles/@global.scss';

div.container {
  display: flex;
  position: relative;
  flex-direction: column;

  top: 0;
  left: 0;

  width: 100%;
  min-width: 10rem;

  gap: 0.5rem;

  & > div {
    @include animation(2s infinite ease-in-out) {
      0% {
        background-color: $GLOBAL_COLOR_BLACK_50;
      }

      50% {
        background-color: $GLOBAL_COLOR_BLACK_100;
      }

      100% {
        background-color: $GLOBAL_COLOR_BLACK_50;
      }
    }
  }
}

.text {
  width: 100%;
  min-height: 0.6rem;

  &::after {
    content: '';

    display: block;
    padding-bottom: 3%;
  }

  &:last-child {
    width: 80%;
  }
}

.image {
  position: relative;
  width: 10%;
  min-height: 0.75rem;
  border-radius: 3px;

  &::after {
    content: '';

    display: block;
    padding-bottom: 100%;
  }
}
