@import 'styles/@global.scss';

.main-page-container {
  overflow: hidden;
  padding-bottom: 5rem;

  .main-timeline-container {
    @include mobile {
      padding: 0 1rem;
      width: 100%;
    }

    width: 1056px;
    margin: 0 auto;
    margin-top: 2rem;
  }
}

.main-card {
  width: 18rem;
  margin-right: 2.5rem;
  padding: 2rem;
}

.intro-text {
  word-break: keep-all;
  line-height: 350%;
}
