@import 'styles/@global.scss';

.left-container {
  word-break: keep-all;
  line-height: 350%;

  .bold {
    font-weight: bold;
    color: $THEME_COLOR_STATUS_PRIMARY_500;
  }
}
.temp {
  padding: 3rem;
}
