.reviewFormList {
    flex: 4;
}

.reviewFormListMember {
    display: flex;
    align-items: center;
}

.reviewFormListMemberImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.reviewFormListDelete {
    color: red;
    cursor: pointer;
}