@import 'styles/@global.scss';

.logo {
  width: 100%;
  height: 100%;
  fill: $LIGHT_COLOR_STATUS_PRIMARY_500;
}

.small {
  width: 3.125rem;
  height: 3.125rem;
}

.medium {
  width: 4.5rem;
  height: 4.5rem;
}

.large {
  width: 6rem;
  height: 6rem;
}
