@import 'styles/@variables.scss';

.container {
  @include mobile {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
    padding: 0 1rem;
    gap: 1rem;
  }

  margin: 3rem auto;
  display: flex;
  flex-direction: row;
  gap: 5%;

  .questions-editor {
    @include mobile {
      width: 100%;
      padding: 1rem;
    }

    width: 50%;
    padding: 2rem;
    border-radius: $GLOBAL_BORDERRADIUS_LARGE;
    background-color: $THEME_COLOR_THEME_BACKGROUND_100;
    box-shadow: 0 5px 10px 10px $GLOBAL_COLOR_BLACK_20;
  }

  .information-editor {
    @include mobile {
      align-self: center;
      width: 100%;
      padding: 1rem 0;
      margin-bottom: 2.5rem;
    }

    width: 45%;
    position: sticky;
    padding: 2rem 0;
    top: 8.6rem;
    align-self: start;

    .textarea {
      @include mobile {
        min-height: 2rem;
      }
    }
  }

  .submit-buttons {
    display: grid;
    width: 100%;
    grid-template-columns: minmax(auto, 47.5%) minmax(auto, 47.5%);
    gap: 5%;
  }
}
