@import 'styles/@global.scss';

.profile-background {
  position: fixed;
  top: 5.625rem;
  width: 100%;
  height: 17.25rem;

  background-position: center;
  z-index: 0;

  &::after {
    content: '';

    display: block;
    width: 100%;
    height: 100%;

    background-color: $GLOBAL_COLOR_WHITE_200;
    background-position: center;
    backdrop-filter: blur(5rem) brightness(0.95);
  }

  @include animation(25s linear infinite) {
    0% {
      background-size: 30%;
    }

    50% {
      background-size: 60%;
    }

    100% {
      background-size: 30%;
    }
  }
}

.container {
  display: grid;
  grid-template-columns: 21.58% 74.6%;
  gap: 3.82%;
}

.reviewContainer {
  padding: 2rem 2.5rem;
  margin: 10px;
  border-radius: 10px;
  background-color: $THEME_COLOR_THEME_BACKGROUND_100;

  box-shadow: 0px 2px 2px $GLOBAL_COLOR_BLACK_20, 0px 0.575rem 1.56rem $GLOBAL_COLOR_BLACK_100;
  border-radius: 16px;
  border-top: 1px solid $THEME_COLOR_THEME_BACKGROUND_200;
}

.line {
  width: 2rem;
  margin: 2rem 0;
  border-color: $THEME_COLOR_STATUS_PRIMARY_100;
}
