@import 'styles/@global.scss';

.event-container {
  display: block;
}

.state-hidden {
  display: none;
}

.effect-unset {
  &.on-appear {
    @include animate(1s ease) {
    }
  }

  &.on-disappear {
    @include animate(1s ease forwards) {
    }
  }
}

.effect-fade {
  &.on-appear {
    @include animate(1s ease) {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }

  &.on-disappear {
    @include animate(1s ease forwards) {
      from {
        opacity: 1;
      }

      to {
        opacity: 0;
      }
    }
  }
}

.effect-drop {
  &.on-appear {
    @include animate(1s ease) {
      from {
        opacity: 0;
        transform: translateY(100%);
      }

      to {
        opacity: 1;
        transform: translateY(0%);
      }
    }
  }

  &.on-disappear {
    @include animate(1s ease forwards) {
      from {
        opacity: 1;
        transform: translateY(0%);
      }

      to {
        opacity: 0;
        transform: translateY(100%);
      }
    }
  }
}
