@import 'styles/@global.scss';

.container {
  position: relative;
  width: 1056px;
  padding: 0 1rem;
  margin: 0 auto;

  @include tablet {
    width: 100%;
    min-width: 600px;
  }

  @include mobile {
    width: 100%;
    padding: 0 1.5rem;
  }
}
