@import 'styles/@global.scss';

.container {
  width: 80%;
  height: 0.3125rem;
  position: relative;
  background-color: $THEME_COLOR_STATUS_PRIMARY_100;
  border-radius: 0.1875rem;
}

.progress {
  position: absolute;
  left: 0;
  background-color: $THEME_COLOR_STATUS_PRIMARY_500;
  height: 0.3125rem;
  transition: width 0.5s ease;
  border-radius: 0.1875rem;
}
