# Workflow μ μ΄λ¦„ μ„¤μ •
name: backend-sonarqube

# develop λΈλμΉμ— λ€ν• pr μ΄λ²¤νΈκ°€ μΌμ–΄λ‚¬μ„ λ• μ‹¤ν–‰ν•λ‹¤λ” μ„¤μ •
on:
  push:
    branches: [ "develop", "main", "feature-sonarqube-final-test"]
  pull_request:
    branches: [ "develop", "main", "feature-sonarqube-final"]

# job μ κ³µν†µλ μµμ…
defaults:
  run:
    # μ‘μ—…μ„ μν–‰ν•  λ””λ ‰ν† λ¦¬ μ„¤μ •
    working-directory: ./backend/reviewduck/

# μ‹¤ν–‰ ν•΄μ•Ό ν•  job λ“¤μ— λ€ν• μ„¤μ •
jobs:
  # Jobμ μ΄λ¦„ μ„¤μ •, λΉλ“ μν–‰
  build:
    # ubuntu ν™κ²½μ—μ„ μ‹¤ν–‰, ν™κ²½μ€ GitHub μ΄ μ κ³µ
    runs-on: ubuntu-latest
    # build job μ μ„Έλ¶€ λ‹¨κ³„ μ„¤μ •
    steps:
      # μ†μ¤μ½”λ“ μ²΄ν¬μ•„μ›ƒ μν–‰
      - name: Checkout source code
        uses: actions/checkout@v2

  # Jobμ μ΄λ¦„ μ„¤μ •, Scanner λ°λ™
  analysis:
    # ubuntu ν™κ²½μ—μ„ μ‹¤ν–‰, ν™κ²½μ€ GitHub μ΄ μ κ³µ
    runs-on: ubuntu-latest
    # ν„μ¬ Jobμ—μ„ μ‚¬μ©ν•  ν™κ²½λ³€μ, repository setting secrets μ—μ„ μ„¤μ •ν• ν™κ²½λ³€μ μ‚¬μ©
    env:
      SONARQUBE_PROJECT_NAME: reviewDuck
      SONARQUBE_URL: ${{ secrets.SONAR_HOST_URL }}
      SONARQUBE_TOKEN: ${{ secrets.SONAR_TOKEN }}
      PR_NUMBER: ${{ github.event.pull_request.number }}
      clientId: ${{ secrets.CLIENTID }}
      clientSecret: ${{ secrets.CLIENTSECRET }}
      jwtKey: ${{ secrets.JWTKEY }}
      jwtExpireLength: ${{ secrets.JWTEXPIRELENGTH }}
      jwtRefreshExpireLength: ${{ secrets.JWTREFRESHEXPIRELENGTH }}

    # analysis job μ μ„Έλ¶€ λ‹¨κ³„ μ„¤μ •
    steps:
      # μ†μ¤μ½”λ“ μ²΄ν¬μ•„μ›ƒ μν–‰
      - name: Checkout source code
        uses: actions/checkout@v2

      # gradlw νμΌ κ¶ν• λ³€κ²½
      - name: gradlew permission change
        run: sudo chmod 755 gradlew

      # νμΌ λΉλ“
      - name: Build with Gradle
        run: ./gradlew build
        env:
          clientId: ${{ secrets.CLIENTID }}
          clientSecret: ${{ secrets.CLIENTSECRET }}
          jwtKey: ${{ secrets.JWTKEY }}
          jwtExpireLength: ${{ secrets.JWTEXPIRELENGTH }}
          jwtRefreshExpireLength: ${{ secrets.JWTREFRESHEXPIRELENGTH }}

      # Gralde μ Scanner λ°λ™, μ„μ env μ—μ„ μ„ μ–Έν• ν™κ²½λ³€μμ™€ ν•¨κ» λ°λ™
      - name: Sonarqube Analysis
        run: ./gradlew test sonarqube
          -Dsonar.host.url=${{ env.SONARQUBE_URL }}
          -Dsonar.projectName=${{ env.SONARQUBE_PROJECT_NAME }}-${{ env.PR_NUMBER }}
          -Dsonar.login=${{ env.SONARQUBE_TOKEN }} --info

      # PR μ— Comment λ¥Ό λ‹¬μ•„μ£Όλ” μ¤ν¬λ¦½νΈ μ‹¤ν–‰
      - name: Comment Sonarqube URL
        uses: actions/github-script@v4
        with:
          script: |
            const { SONARQUBE_PROJECT_NAME, SONARQUBE_URL, PR_NUMBER } = process.env
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: `π“ ${ SONARQUBE_PROJECT_NAME }-${ PR_NUMBER } λ¶„μ„ κ²°κ³Ό ν™•μΈν•κΈ° [λ§ν¬](${SONARQUBE_URL})`
            })
