@import 'styles/@variables.scss';

.header {
  .fixed-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(243, 243, 243, 0.5); // TODO: 상수 처리
    backdrop-filter: blur(0.6rem); // TODO: 상수 처리
    border-top: 5px solid $THEME_COLOR_STATUS_PRIMARY_500; // TODO: 스크롤에 따라 Progress 처리

    z-index: 5;

    .container {
      min-width: 768px;
      max-width: 1056px;
      padding: 0 1rem;
      height: 100%;
      margin: 0 auto;
      .button-container {
        @include mobile {
          display: none;
        }
      }
    }

    .menu-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid $THEME_COLOR_STATUS_PRIMARY_100;
      padding: 1.5rem 1rem;

      @include mobile {
        padding: 1rem 1.5rem;
      }
    }
  }
}

.form-title {
  color: $THEME_COLOR_STATUS_PRIMARY_700;

  @include mobile {
    font-size: 1.1rem;
  }
}

.form-description {
  color: $THEME_COLOR_THEME_TEXT_400;
  text-shadow: 0 0 1rem $THEME_COLOR_THEME_BACKGROUND_100;

  @include mobile {
    font-size: 0.8rem;
  }
}
